<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- Register all interfaces in a package as mappers -->
    <mappers>
        <package name="eu.davidea.avocadoserver.persistence.mybatis"/>
    </mappers>
</configuration>